noharm-nifi-template.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>aebab826-016e-1000-8dbf-2a5f109f65ea</groupId>
    <name>noharm-nifi-template</name>
    <snippet>
        <controllerServices>
            <id>28d4b1f3-04f4-3503-0000-000000000000</id>
            <parentGroupId>41468a01-3e14-336d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool - Oracle</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:oracle:thin:@ip_address:1521:service</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>oracle.jdbc.driver.OracleDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/lib/ojdbc8.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>database_user</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>31e82cae-5926-397a-0000-000000000000</id>
            <parentGroupId>41468a01-3e14-336d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <controllerServices>
            <id>bb8c0e86-b4c4-3ddc-0000-000000000000</id>
            <parentGroupId>41468a01-3e14-336d-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.10.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool - PostgreSQL</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:postgresql://ip_address/database</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>org.postgresql.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/nifi/nifi-current/lib/postgresql-42.2.9.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>database_user</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>48163914-f160-350f-0000-000000000000</id>
            <parentGroupId>41468a01-3e14-336d-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1fed57d7-5bac-37f1-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48163914-f160-350f-0000-000000000000</groupId>
                        <id>b9c75049-b7c2-30b1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>48163914-f160-350f-0000-000000000000</groupId>
                        <id>822b15b5-a7fe-30b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3699ac3a-1509-3e98-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48163914-f160-350f-0000-000000000000</groupId>
                        <id>b4abecce-4e9f-3c8a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48163914-f160-350f-0000-000000000000</groupId>
                        <id>92f045fa-3896-34f7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>862c6215-70f3-36a0-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>48163914-f160-350f-0000-000000000000</groupId>
                        <id>822b15b5-a7fe-30b8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>48163914-f160-350f-0000-000000000000</groupId>
                        <id>b4abecce-4e9f-3c8a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>822b15b5-a7fe-30b8-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1032.0</x>
                        <y>48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments>Must have a fksetor-fkhospital unique constraint to raise a PutDatabaseRecord Retry exception</comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>31e82cae-5926-397a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>bb8c0e86-b4c4-3ddc-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>#{schema.name}</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>setor</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Try Insert into PostgreSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>92f045fa-3896-34f7-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>48.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>28d4b1f3-04f4-3503-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>Oracle</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>HOSPITAL_DEPARTMENTS</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>500</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>3600 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>Pull Oracle Data</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
                <processors>
                    <id>b4abecce-4e9f-3c8a-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <position>
                        <x>536.0</x>
                        <y>336.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kite-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Input Schema</key>
<value>
    <name>Input Schema</name>
</value>
                            </entry>
                            <entry>
<key>Output Schema</key>
<value>
    <name>Output Schema</name>
</value>
                            </entry>
                            <entry>
<key>Locale</key>
<value>
    <name>Locale</name>
</value>
                            </entry>
                            <entry>
<key>kite-compression-type</key>
<value>
    <name>kite-compression-type</name>
</value>
                            </entry>
                            <entry>
<key>CD_SETOR_ATENDIMENTO</key>
<value>
    <name>CD_SETOR_ATENDIMENTO</name>
</value>
                            </entry>
                            <entry>
<key>DS_SETOR_ATENDIMENTO</key>
<value>
    <name>DS_SETOR_ATENDIMENTO</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Input Schema</key>
<value>{
    "type": "record",
    "name": "SetoresInput",
    "namespace": "org.apache.example",
    "fields": [
        {
            "name": "CD_SETOR_ATENDIMENTO",
            "type": "string"
        },
        {
            "name": "DS_SETOR_ATENDIMENTO",
            "type": "string"
        },
        {
            "name": "NR_SEQ_AGRUPAMENTO",
            "type": "string"
        }
	]
}</value>
                            </entry>
                            <entry>
<key>Output Schema</key>
<value>{
    "type": "record",
    "name": "SetoresOutput",
    "namespace": "org.apache.example",
    "fields": [
        {
            "name": "fksetor",
            "type": ["null", "int"],
            "default": null
        },
        {
            "name": "nome",
            "type": ["null", "string"],
            "default": null
        }
	]
}</value>
                            </entry>
                            <entry>
<key>Locale</key>
<value>default</value>
                            </entry>
                            <entry>
<key>kite-compression-type</key>
<value>SNAPPY</value>
                            </entry>
                            <entry>
<key>CD_SETOR_ATENDIMENTO</key>
<value>fksetor</value>
                            </entry>
                            <entry>
<key>DS_SETOR_ATENDIMENTO</key>
<value>nome</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Map Schema</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kite.ConvertAvroSchema</type>
                </processors>
                <processors>
                    <id>b9c75049-b7c2-30b1-0000-000000000000</id>
                    <parentGroupId>48163914-f160-350f-0000-000000000000</parentGroupId>
                    <position>
                        <x>1032.0</x>
                        <y>336.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.10.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>31e82cae-5926-397a-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>UPDATE</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>bb8c0e86-b4c4-3ddc-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>#{schema.name}</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>setor</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>fksetor</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Update PostgreSQL on Conflict</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
            </contents>
            <name>Department ETL</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/15/2019 17:19:13 EST</timestamp>
</template>
